

{% extends 'base.html' %} {% block body %}

    



  
  


 

  
  <div class=" grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
          <h4 class="card-title mb-1">All Transactions </h4>

        </div>
        {% if current_user.transactions|length==0 %}
        <h3 class="text-center pt-5" style="  color:rgb(102, 99, 99)">Sorry, no transactions to show !</h3>

        {% else %}

        <div class="row">
          <div class="col-12">
            <div class="preview-list">
              {% for trans in current_user.transactions|reverse %} {% if trans.donate %}
              <div class="preview-item border-bottom">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-danger">
                    <i class="mdi mdi-fire"></i>
                  </div>
                </div>
                <div class="preview-item-content d-sm-flex flex-grow">
                  <div class="flex-grow">
                    <h6 class="preview-subject">Blood Donation</h6>
                    <p class="text-muted mb-0">On : {{trans.time}}</p>
                  </div>
                  
                  
                </div>
              </div>
              {% else %}
              <div class="preview-item border-bottom">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="mdi mdi-filter"></i>
                  </div>
                </div>
                <div class="preview-item-content d-sm-flex flex-grow">
                  <div class="flex-grow">
                    <h6 class="preview-subject">Blood Receive</h6>
                    <p class="text-muted mb-0">On : {{trans.time}}</p>
                  </div>
                  
                </div>
              </div>
              {% endif %} {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>


{% endblock body %}

